In [17]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd  

%matplotlib inline
print('Vivek - 20MAI0077')

Vivek - 20MAI0077

In [2]:
data = pd.read_csv(r"C:\Users\Vivek\Downloads\iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
data.shape

(150, 6)

In [7]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

# Split data

In [9]:
from sklearn.model_selection import train_test_split
X = data[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = data['Species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [10]:
# Replace Iris-setosa with 0, Iris-versicolor 1 and Iris-virginica 2 

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data["Species"] = labelencoder.fit_transform(data["Species"])
species = pd.DataFrame({'Species': ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']})

In [11]:
# Features before mean normalization
unscaled_features = X_train

# Mean Normalization to have a faster classifier 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

#calculate μ & σ(fit) and apply the transformation(transform)
X_train_array = sc.fit_transform(X_train.values)

# Assign the scaled data to a DataFrame & use the index and columns arguments to keep your original indices and column names:
X_train = pd.DataFrame(X_train_array, index=X_train.index, columns=X_train.columns)

# Center test data with the μ & σ computed (fitted) on training data
X_test_array = sc.transform(X_test.values)
X_test = pd.DataFrame(X_test_array, index=X_test.index, columns=X_test.columns)

# Model

Perceptron -the learning algorithm-, the most basic form of a neural network: a simple supervised linear feedforward classifier.
Feedforward = the output of any layer does not affect that same layer.

In [13]:
# Import the model
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10),solver='sgd',learning_rate_init=0.01,max_iter=500)

# Train Model

In [14]:
mlp.fit(X_train, y_train)

MLPClassifier(hidden_layer_sizes=10, learning_rate_init=0.01, max_iter=500,
              solver='sgd')

# Test Model

In [15]:
"""
Predictions for X_test are compared with y_test

Score for mlp is the mean accuracy given the test data and labels
We can use accuracy (instead of F1 score) because our data labels are balanced (not skewed data)
Multilabel Classification: subset accuracy(harsh measure, see haming score or exact match ratio)
"""

# It's expected to see such a high result since the Iris dataset is so simple, clean and structured. 
# But it is not going to generalize into new data
mlp.score(X_test,y_test)

0.9333333333333333

In [16]:
mlp.score(X_train, y_train)

0.975